<div class="signup">
  <h1 class="align-center">Log in</h1>

  <%= form_for :session, url: sessions_path do |f| %>

  <div class="grid">
    <div class="unit w-2-5"><%= f.label :email %></div>
    <div class="unit w-3-5"><%= f.email_field :email %></div>
  </div>

  <div class="grid">

    <unit class="unit w-2-5"><%= f.label :password %></unit>
    <div class="unit w-3-5"><%= f.password_field :password %></div>
  </div>

  <div class="grid">
    <div class="unit"></div>
  </div>

  <div class="grid">
    <div class="unit w-2-5"></div>
    <div class="unit w-3-5"><%= f.submit "Log in" %></div>
  </div>
  <% end %>
</div>