<div class="header">
  <h1 id="logo"><a href="/" class="logobutton">中国观鸟组织联合行动平台</a></h1>
<nav id="navbar">
<%= link_to "首页", root_path %>
<%= link_to "鸟会动态", "/sections/1" %>
<%= link_to "快讯", "/sections/2" %>
<%= link_to "项目", "/sections/3" %>
  <a href="#">保护</a>
  <a href="#">记录中心</a>
  <a href="#">图库</a>
<%= link_to "鸟人学堂", "/sections/4" %>
<%= link_to "鸟类观察", "/sections/5" %>
  <a href="#">自然观察</a>
  <a href="#">鸟类研究</a>
  <a href="#">下载中心</a>
  <a href="#">器材展厅</a>
</nav>
</div>